---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Now" description="What Jules Kourelakos is up to now.">
  <div class="page-header">
    <h1>Now</h1>
    <p>What I'm currently up to. Last updated March 2026.</p>
  </div>

  <article>
  </article>
</BaseLayout>
